/UmbCanonicalUrlRedirect/packages
/UmbCanonicalUrlRedirect/UmbCanonicalUrlRedirect/bin
/umbcanonicalurlredirect/UmbCanonicalUrlRedirect/bin/Debug
/umbcanonicalurlredirect/UmbracoTest/App_Data/TEMP
/umbcanonicalurlredirect/UmbracoTest/bin
/umbcanonicalurlredirect/UmbracoTest/obj
/UmbCanonicalUrlRedirect/UmbracoTest/obj
/UmbCanonicalUrlRedirect/UmbracoTest/App_Data/cache
/UmbCanonicalUrlRedirect/UmbracoTest/App_Data/packages
/UmbCanonicalUrlRedirect/UmbracoTest/App_Data/TEMP
/UmbCanonicalUrlRedirect/.vs
/UmbCanonicalUrlRedirect/UmbCanonicalUrlRedirect/obj
/UmbCanonicalUrlRedirect/UmbracoTest/App_Data/Logs/UmbracoTraceLog.JACKSON.txt
